Makefile.config
build/*
*.o
*.d
*.so
*.swp
*.exe
*.bak
*.dat
!/PES-IDS/h2o-h2o/h4o2.dms4.coeff.dat

PES-IDS/h2o-ar-dms/

docs/*.bbl
docs/*.bcf
docs/*.blg
docs/*.xml
docs/*.aux
docs/*.log
docs/*.toc

*.out
!/tests/*.out
!/example_configs/*.out

run_*/

TAGS
