# USER SPECIFIC PATHS
# Override compilers and set include and link paths to libraries here

# MPICC  := ...path.../mpicc
# MPICXX := ...path.../mpic++

INC_SUNDIALS := -I/home/asekacheva/FUNCHAL/deps/sundials/install/include


INC_EIGEN    := -I/home/asekacheva/FUNCHAL/deps/sundials/install/include
INC_HEP      := -I/home/asekacheva/FUNCHAL/deps/hep/src/hep/include
#INC          := $(INC_SUNDIALS) $(INC_EIGEN) $(INC_HEP) $(INC_GSL)
LIB_GSL      :=  -lgsl -lgslcblas
LIB_SUNDIALS := /home/asekacheva/FUNCHAL/deps/sundials/install/lib/libsundials_nvecserial.a /home/asekacheva/FUNCHAL/deps/sundials/install/lib/libsundials_cvode.a


# INC_SUNDIALS := -I/...path.../sundials-5.2.0/instdir/include/path
# INC_EIGEN    := -I/...path.../eigen3
# INC_HEP      := -I/...path.../hep-mc-0.7/include/
# LIB_GSL      := -L/..path.../ -lgsl -lgslcblas 
# LIB_SUNDIALS := ...path.../libsundials_nvecserial.a ...path.../libsundials_cvode.a
