# USER SPECIFIC PATHS
# Override compilers and set include and link paths to libraries here

# MPICC  := ...path.../mpicc
# MPICXX := ...path.../mpic++

INC_SUNDIALS := -I/home/qwan/lib/sundials-5.2.0/include
INC_GSL := -I/home/qwan/include

INC_EIGEN    := -I/home/qwan/include/eigen3
INC_HEP      := -I/home/qwan/include/hep-mc-0.7/include/
#INC          := $(INC_SUNDIALS) $(INC_EIGEN) $(INC_HEP) $(INC_GSL)
LIB_GSL      := -L/home/qwan/lib -lgsl -lgslcblas
LIB_SUNDIALS := /home/qwan/lib/sundials-5.2.0/lib/libsundials_nvecserial.a /home/qwan/lib/sundials-5.2.0/lib/libsundials_cvode.a


# INC_SUNDIALS := -I/...path.../sundials-5.2.0/instdir/include/path
# INC_EIGEN    := -I/...path.../eigen3
# INC_HEP      := -I/...path.../hep-mc-0.7/include/
# LIB_GSL      := -L/..path.../ -lgsl -lgslcblas 
# LIB_SUNDIALS := ...path.../libsundials_nvecserial.a ...path.../libsundials_cvode.a
